.slider-background{
    background: url(../../../../images/slider-bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#demo {
    position: relative;
    background-color: rgba(36, 133, 176, 0.7);
    border-radius: 5px;
}
.testimonial-carousel {
    position: relative;
    background-color: rgba(36, 133, 176, 0.7);
    border-radius: 5px;
    padding: 50px 0px;
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}
.carousel-caption h2{
    color: #FFF;
    margin-bottom: 10px 0px;
}
.carousel-caption p{
    color: #FFF;
    width: 70%;
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    margin: auto auto 20px;
}
@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}
.carousel-caption img {
    width: 8rem;
    border-radius: 50%;
    height: 8rem;
    border: 5px solid #fff;
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}
@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgba(89, 70, 194, 0.623);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}
.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}