.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cebebea1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #0d8d97fc;
    display: block;
  }
  
  .sidenav a:hover {
    color: #1fbcc7e3;
  }
  .main {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
input {
    width: 80%;
    padding: 4px;
    border: 1px solid #ddd;
    color: #625c5c;
    font-weight: 400;
    border-radius: 10px;
    margin: 10px;
}